* {
    background-image: none;
    font-size: 20px;
    font-family: "JetBrains Mono NFM";
}

/* Fundo da tela translúcido */
window {
    background-color: rgba(0, 0, 0, 0.5); 
}

button {
    margin: 15px;
    color: #ffffff;
    background-color: #000000; /* Preto sólido */
    border-radius: 0px;        /* Sem cantos arredondados */
    border-style: solid;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    box-shadow: none;
    text-shadow: none;
}

/* Estado de Hover e Foco: Mantém o fundo preto */
button:hover,
button:focus {
    background-color: #000000; /* Agora continua preto igual ao estado normal */
    background-size: 25%;      /* Mantém o ícone no mesmo tamanho */
    transition: none;
    outline-style: none;
}

/* Ícones */
#logout {
    background-image: image(url("./icons/logout.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

button span {
    font-size: 1.1em;
}
